* {
  margin: 0px;
  padding: 0px;
  }

body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  color: #333333;
  }

hr {
  height: 0.4em;
  width: 100%;
  background-color: #000000;
  border: none;
  color:#000000;
  margin-bottom: 0.5em;
  }

#pageContainer {
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  }

#header {
  width: 740px;
  height: 80px;
  background: url(images/logo.gif) #bb1f1f no-repeat center left;
  margin-top: 10px;
  border-bottom: #d2d2d2 solid 5px;
  text-align: right;
  margin-bottom: 20px;
  }

#headerLinks {
  color: #FFFFFF;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 80%;
  padding-top: 64px;
  padding-right: 5px;
  display:block;
  text-decoration: none;
  }

.hlink {
  color: #FFFFFF;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 80%;
  text-decoration: none;
}
.hlink:link, .hlink:active, .hlink:visited {
  color: #FFFFFF;
}

.hlink:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

#pageContent {
  /* Not used for anything at present */
  }

h1 {
  color: #600000;
  font-family: helvetica, arial, sans-serif;
  font-size: 135%;
  margin-top: 1.3em;
  margin-bottom: 0.7em;
  }

h2, h3 {
  color: black;
  font-family: helvetica, arial, sans-serif;
  font-size: 115%;
  margin-top: 1.3em;
  margin-bottom: 0.7em;
  }

h3 {
  font-size: 100%;
}

.showcase {
  margin: 2px;
  padding: 2px;
  border: 2px #000000 solid;
  }

p {
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 90%;
  margin-bottom: 20px;
  }

ol, ul {
  margin-bottom: 20px;
}

ul {
  list-style-type: square;
  font-family: helvetica, arial, sans-serif;
}

li {
  list-style-position: outside;
  font-family: helvetica, arial, sans-serif;
  font-size: 90%;
  margin: 0.1em 2em;
  }

code {
  font-family: monospace;
  font-size: inherit;
  background-color: #eee;
}

pre {
  font-family: monospace;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #eee;
}

#footer {
  clear: both;
  width: 740px;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 80%;
  border-top: 2px #000000 solid;
  }

#title {
  float: left;
  color: #FFFFFF;
  padding-left: 100px;
  margin-top: 1px;
  font-family: helvetica, arial, sans-serif;
  font-size: 190%;
  }

#subTitle {
  float: left;
  clear: left;
  color: #FFFFFF;
  padding-left: 102px;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 75%;
}

.right {
  float: right;
  margin: 0px;
  }

.left {
  float: left;
  margin: 0px;
  }

.flink:link {
  color: #333333;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 80%;
  text-decoration: none;
  vertical-align: text-top;
  }

.flink:active {
  color: #333333;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 80%;
  text-decoration: none;
  vertical-align: text-top;
  }

.flink:hover {
  color: #333333;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 80%;
  text-decoration: underline;
  vertical-align: text-top;
  }

.flink:visited {
  color: #333333;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  font-size: 80%;
  text-decoration: none;
  vertical-align: text-top;
  }

.gone {
	width: 0.01em;
	height: 0.01em;
}

.prompt {
  font-weight: 700;
  width: 4em;
  }

#leftSide {
  width: 170px;
  float: left;
}

#leftSide p {
  text-align: center;
  margin-bottom: 1em;
  padding:0.3em 0;
  font-weight: bold;
  background-color: #d2d2d2;
}

#leftSide p.selected {
  background-color: #bb1f1f;
  color: white;
}

#leftSide img {
  border: none;
}

#leftSide a, #leftSide a:link, #leftSide a:hover, #leftSide a:active, #leftSide a:visited {
  text-decoration: none;
  color: black;
}

#leftSide a.selected, #leftSide a.selected:link, #leftSide a.selected:hover, #leftSide a.selected:active, #leftSide a.selected:visited {
  text-decoration: none;
  color: white;
}

#rightSide {
  width: 530px;
  float: right;
}

